@import './reset';
@import './icons';
@import './mixins';

@font-face {
  font-family: Allegro;
  src: url('../assets/ALLEGRO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black url(../assets/sky.jpg) no-repeat fixed center center;
  &::-webkit-scrollbar{width: 0}
}

html, body, #root, .App, .particles {
  height: 100%;
}

canvas {
  position: relative;
  z-index: 0;
}

.particles{
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.sections {
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
}

@include screen('mobile'){
  html{
    overflow: hidden;
  }

  body {
    overflow: scroll;
    @include transition(all ease 1s);
  }
}