@import '../../../styles/mixins';
@include screen('mobile') {
  .section__projects {
    .projects {
      .project {
        margin: 20px 0;

        &:first-child{
          margin-top: 0;
        }


      }
      .enhance {
        margin-bottom: 1px;
      }
    }
  }
}
