@import url("https://fonts.googleapis.com/css?family=Satisfy");
.section__projects .projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .section__projects .projects::-webkit-scrollbar {
    width: 8px; }
  .section__projects .projects::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px; }
  .section__projects .projects::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7); }
  .section__projects .projects::-webkit-scrollbar-track {
    background-color: transparent; }
  .section__projects .projects .project {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    transition: all ease 0.4s; }
    .section__projects .projects .project.fitness-family-club > a .project__details .project__title {
      font-family: Allegro, serif;
      font-size: 2em; }
    .section__projects .projects .project.enhance > a .project__details .project__title {
      font-family: "Satisfy", cursive;
      font-size: 2em; }
    .section__projects .projects .project.unpublished > a {
      cursor: default; }
    .section__projects .projects .project > a {
      display: block;
      height: 100%;
      width: 100%;
      cursor: pointer;
      position: relative; }
      .section__projects .projects .project > a:visited, .section__projects .projects .project > a:link, .section__projects .projects .project > a:hover {
        text-decoration: none;
        color: white; }
      .section__projects .projects .project > a .project__preview {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%; }
      .section__projects .projects .project > a .project__details {
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 15% 50% 35%;
        background: rgba(0, 0, 0, 0.3);
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        transition: all ease 0.4s; }
        .section__projects .projects .project > a .project__details .project__title {
          justify-content: center;
          display: flex;
          align-items: center;
          font-size: 1.4em;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          background: rgba(0, 0, 0, 0.5);
          position: relative;
          -webkit-transition: all ease 0.4s;
          -moz-transition: all ease 0.4s;
          transition: all ease 0.4s; }
          .section__projects .projects .project > a .project__details .project__title code {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            text-transform: uppercase;
            position: absolute;
            right: 10px;
            height: 100%;
            display: flex;
            text-decoration: underline;
            align-items: center; }
          .section__projects .projects .project > a .project__details .project__title a {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            left: 10px; }
            .section__projects .projects .project > a .project__details .project__title a span {
              -webkit-transition: all ease 0.4s;
              -moz-transition: all ease 0.4s;
              transition: all ease 0.4s; }
            .section__projects .projects .project > a .project__details .project__title a:hover, .section__projects .projects .project > a .project__details .project__title a:link, .section__projects .projects .project > a .project__details .project__title a:visited, .section__projects .projects .project > a .project__details .project__title a:active {
              text-decoration: none; }
            .section__projects .projects .project > a .project__details .project__title a:hover span {
              opacity: .5; }
        .section__projects .projects .project > a .project__details .project__description {
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          align-items: center;
          padding: 10px;
          line-height: 1.3;
          color: rgba(255, 255, 255, 0.8);
          letter-spacing: .4px;
          text-align: center;
          -webkit-transition: all ease 0.4s;
          -moz-transition: all ease 0.4s;
          transition: all ease 0.4s; }
        .section__projects .projects .project > a .project__details .project__stack {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
          flex-wrap: wrap;
          opacity: 1;
          background: rgba(0, 0, 0, 0.5);
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          -webkit-transition: all ease 0.4s;
          -moz-transition: all ease 0.4s;
          transition: all ease 0.4s; }
          .section__projects .projects .project > a .project__details .project__stack li {
            padding: 5px;
            margin: 5px;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: center;
            align-items: center; }
    .section__projects .projects .project:hover {
      border-color: white; }
      .section__projects .projects .project:hover > a .project__details {
        background: transparent; }
        .section__projects .projects .project:hover > a .project__details .project__title {
          border-bottom-color: white; }
        .section__projects .projects .project:hover > a .project__details .project__stack, .section__projects .projects .project:hover > a .project__details .project__description {
          opacity: 0;
          background: transparent; }

/*# sourceMappingURL=styles.css.map */
