@import '../../../styles/mixins';

@include screen('mobile'){
  .section__aboutMe {
    .aboutMe {
      .container {
        img {
          width: 100px;
          height: 100px;
          margin-bottom: 10px;
        }

        h2 {
          font-size: 1.5em;
          text-align: center;
        }

        .title {
          font-size: 1.3em;
        }

        .description {
          font-size: .8em;
          text-align: center;
          margin-top: 10px;
          text-shadow: 1px 1px black;
        }
      }

      .twitchIframe {
        .live {
          top: 10px;
          right: 10px;
        }
      }
    }
  }
}
